%h2.subject Minute to Win It Reading Strategy
%div.email_content
	%p Here's a tried and true method to help your child read more fluently.  And it only takes 3 minutes a day! 
	%p Here's what to do:
	%ol		
		%li Continue to use the same passage we provide you with.
		%li Each night this week, have him read the passage again.  You will notice that each time he reads it, it will get smoother and faster.  Point that out to him. 
		%li At the end of the week, you'll do the timed reading exercise again to see how he's doing.  
	%p Seem's simple, right?  But trust us, it works!  And don't worry, we'll send you reminders this week to keep you going.
	%div.center_button
		%a.btn.btn-info.btn-large{:href=>'assignment1.html'} Try it now! 
