%div.row
	%div.span4.badges
		%ul
			%li.span2
				%h4 Sight Words
				=image_tag 'badge1.png'
			%li.span2.inactive
				%h4 Minute to Win It 
				=image_tag 'badge2.png'
			%li.span2.inactive
				%h4 Spin the Wheel
				=image_tag 'badge3.png'
			%li.span2.inactive
				%h4 MathCards
				=image_tag 'badge4.png'
	%div.span7.main
		%div.welcome
			=image_tag 'arrow.png', :class=>'arrow'
			%h2 Hi Betty! 
			%p Welcome to Great Kids, the app that puts the power of education in your hands!  Great Kids provides you with a set of tools organized around themes, each designed to help your kids excel in a certain area.  Themes are represented by badges, which your child earns after mastering each theme.  
			%p Your child is also rewarded for their effort as they work toward mastering a theme.  Effort is represented in the form of stars, which are collected as your child works through each theme.  Each theme has a certain number of stars that can be collected, as well as the badge, of course! 
			%div.recap
				=image_tag 'star.png'
				%span = effort
				%br
				=image_tag 'badge_icon.png' 
				%span = mastered skills
			%p Ready to get started?  This week's theme is Sight Words.          
			%div.btn.btn-info.btn-large Let's Play!