%h2.subject Minute to Win It: Focus on Expression
%div.email_content
	%p 
		Your child has been doing a great job so far with 
		=data.theme.title + ","
		but we still have some work to do.  
	%p Our goal last time was to highlight the role of punctuation in reading.  Now we'll focus on expression.  Talk through the list below with your child, having them read the passage several times while paying special attention to each of the items:
	%ol
		%li Punctuation offers clues to how something should sound when read aloud.  Commas signal a pause in speech, while periods mark the end of complete thoughts and signal a longer pause. 
		%li Try to think about how all of the characters in the story might sound if they were real people.  How does a pirate sound?  What about Jimmy?  What about his mom? 
		%li Practice talking like each one of the characters in the story before reading the passage.  Then try to incorporate those voices when you read the story.   
	%div.center_button		
		%a.btn.btn-info.btn-large{:href=>'assignment2.html'} Try it now! 