%h2.subject Minute to Win It Nearly Complete
%div.email_content
	%p 
		All right!  We're getting into the home stretch with
		=data.theme.title + "."
	%p By this point, your child should understand the way different pieces of language fit together when reading aloud.  Most importantly, your child has had plenty of practice and repetition with the passage, both of which are essential to fluid reading.
	%p Now your child will read the passage one last time so that we can see how much progress has been made!
	%div.center_button
		%a.btn.btn-info.btn-large{:href=>'final.html'} Let's get started! 